<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=
    "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
        rel="stylesheet">
</head>
<body>
    <div class="container w-screen h-screen mx-auto bg-red-500 flex">
        <%- include("./navigation.ejs");%>
        <div>
            <div id="card">
                <p><%=username%></p>
                <p><%=bio%></p>
                <p><%=email%></p>
                <p><%=avatar%></p>
                <p><%=followers%></p>
                <p><%=following%></p>
            </div>
        </div>
    </div>
    <p id="hello" class="hidden"><%= user.avatar %></p>
    <p id="namep" class="hidden"><%= user.name %></p>
</body>
</html>
<script>
    function setdata() {
        var pic = document.getElementById("hello").innerText
        document.getElementById("pfp").src = pic
        var name = document.getElementById("namep").innerText
        document.getElementById("name").innerHTML = name
    }
    
    window.onload = setdata
</script>